{% extends "bootstrap/base.html" %}

{% block content %}

<div class="container">

  <!-- Static navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('go_home') }}"> <FONT COLOR="#4169E1"> Patrones ganchillo </FONT>  </a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
	  <li {% if 'home' == active_page%} class="active" {% endif %}> <a href="{{ url_for('go_home') }}"> Home </a></li>
          <li {% if 'list' == active_page%} class="active" {% endif %}> <a href="{{ url_for('show_patrones') }}"          > Lista patrones </a></li>
          <li {% if 'inst' == active_page%} class="active" {% endif %}> <a href="{{ url_for('insert_entry')  }}"          > Insertar patron</a></li>
          <li {% if 'edit' == active_page%} class="active" {% endif %}> <a href="{{ url_for('show_and_edit_patrones')}}"  > Editar patron</a></li>
          <!--
	  <li class="active"> <a href="{{ url_for('go_home') }}"> Home </a></li>
          <li><a href="{{ url_for('show_patrones') }}"          > Lista patrones </a></li>
          <li><a href="{{ url_for('insert_entry')  }}"          > Insertar patron</a></li>
          <li><a href="{{ url_for('show_and_edit_patrones')}}"  > Editar patron</a></li>
	  -->
        </ul>
      </div> <!--/.nav-collapse -->

    </div><!--/.container-fluid -->
  </nav>
  
{% block contenido %}{% endblock %}

</div>

{% endblock %}
