{% extends "base.html" %}

{% set active_page = "inst" %}

{% block title %}Insertar nuevo patron{% endblock %}

{% block contenido %}

<p> </p>
<h2> <FONT COLOR="#4169E1"> Insertar nuevo patron </FONT> </h2>
<hr>
<p> </p>

<form action="{{url_for('save_entry')}}" method="POST">
  <div class="form-group">
    <label for="titulo">Titulo </label>
    <input type="text" class="form-control" id="titulo" name='titulo' placeholder="Titulo">
  </div>

  <div class="form-group">
    <label for="descripcion">Descripcion </label>
    <input type="text" class="form-control" id="descripcion" name='descripcion' placeholder="Describe el nuevo patron">
  </div>

  <div class="form-group">
    <label for="url">Url </label>
    <input type="text" class="form-control" id="url" name='url' placeholder="Enlace">
  </div>

  <div class="form-group">
    <label for="labels"> Etiquetas, separadas por espacios </label>
    <input type="text" class="form-control" id="labels" name='labels' placeholder="Amigurimi patron bebe">
  </div>

  <button type="submit" class="btn btn-default">Guardar</button>
</form>

{% endblock %}
