{% extends "base.html" %}
{% block title %}Patron{% endblock %}

{% block contenido %}

<p> </p>
<h2> <FONT COLOR="#4169E1"> Detalles patron </FONT> </h2> 
<hr>
<p> </p>

<a class="btn btn-default" href="{{ url_for('remove_entry', id_pattern=patron.id) }}"> Borrar patron <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> </a> 
<a class="btn btn-default" href="{{ url_for('edit_entry', id_pattern=patron.id) }}"  > Editar patron <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> </a>
<a class="btn btn-default" href="mailto:name@enterprise.com?subject=Patron%20{{patron.titulo}}?body=http://organizador.herokuapp.com/show-pattern-{{patron.id}}" > 
Mandar por correo <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> </a>
<a class="btn btn-default" href="{{ url_for('show_and_edit_patrones')}}"             > Volver a lista </a>

<hr>

<h3> <b> {{ patron.titulo }} </b> <h3> 
<h4> {% if patron.labels %} {% for lb in patron.labels %} <span class="label label-info"> {{lb}} </span> &nbsp; {% endfor %} {% endif %} </h4>
<h4> <b> URL: </b> <a href="{{ patron.url }}" target="_blank"> Link original </a> </h4>
<hr>

<h4> <b> Descripcion: </b> {{ patron.descripcion | safe }}        </h4>


<hr>
<p> </p>


{% endblock %}

