{% extends "base.html" %}
{% block title %}Patron{% endblock %}

{% block contenido %}

<p> </p>
<h2> <FONT COLOR="#4169E1"> Detalles patron </FONT> </h2> 
<hr>
<p> </p>

<h4> <b> Titulo del patron: </b> {{ patron.titulo }}              </h4>
<h4> <b> Descripcion: </b> {{ patron.descripcion | safe }}        </h4>
<h4> <b> URL: </b> <a href="{{ patron.url }}" target="_blank"> Link original </a> </h4>
<h4> <b> Etiquetas: </b> 
  {% if patron.labels %}
  {% for lb in patron.labels %}
  <span class="label label-info"> {{lb}}  </span> &nbsp;   
  {% endfor %}
  {% endif %}

<hr>
<p> </p>

<a class="btn btn-default" href="{{ url_for('remove_entry', id_pattern=patron.id) }}"> Borrar patron </a> 
<a class="btn btn-default" href="{{url_for('show_and_edit_patrones')}}"> Volver a lista </a>

{% endblock %}

